.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: var(--z-fixed);
  transition: .4s;
}
.nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 968px;
  margin-left: 1rem;
  margin-right: 1rem;
}
.logo{
  width: 50px;
}
.logo img{
  width: 100%;
}
.header-btn{
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  letter-spacing: 1px;
  padding: 10px 20px;
  background: none;
  outline: none;
  border: 2px solid var(--dark-bg-color);
  border-radius: 5px;
  color: var(--dark-bg-color);
  cursor: pointer;
  transition: all 0.3s ease;
}
.header-btn:hover{
  letter-spacing: 3px;
}
main{
  padding: 1rem;
}

@media screen and (min-width: 400px){
    main{
    padding: 0;
  }
}

@media screen and (min-width: 1024px) {
   .nav{
    margin-left: auto;
    margin-right: auto;
  }
}